<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <!--<add key="FTP_HOST" value="fsgateway.aexp.com" />
    <add key="FTP_PORT" value="22" />
    <add key="FTP_USER" value="NUTEC" />
    <add key="FTP_PASS" value="1nutec" />-->

    <!--<add key="FTP_HOST" value="sftp.tradinggrid.gxs.com" />
    <add key="FTP_PORT" value="22" />
    <add key="FTP_USER" value="AAH43226" />
    <add key="FTP_PASS" value="ZA4G9C3R" />-->

    <add key="FTP_HOST" value="148.244.187.136" />
    <add key="FTP_PORT" value="22" />
    <add key="FTP_USER" value="cdmi" />
    <add key="FTP_PASS" value="cdm1#0520" />


    <add key="CONEXION" value="Server=201.158.240.122;database=intranet_nutec;uid=intranet;pwd=Pa88word1;pooling=false;"/>

  </appSettings>
</configuration>