/*---------------------------------------
 Grid view
-----------------------------------------*/
.grid 
{
 font: 12px Helvetica, Arial, Sans-Serif;   
 margin-right:5px;
}
.grid td, .grid th
{
    padding-left:4px;
    padding-right:4px;
    height:25px;
}
.grid_header
{
    text-align: left;
    color: Black;
    background-color: gainsboro;
}
.grid_row td
{
    /*border-bottom:solid 0px silver;*/
}
.grid_alternating
{
    background-color: #E1E1E1; /*#d5e3ef;*/
}

.grid_alternating td
{
    border-bottom:solid 1px silver;
}
.grid_pager
{
    background-color:#C6C3C6;
    color: Black ;
    height:15px;
}
.grid a
{
    text-decoration:underline;   
    color:#006699
}

.CodeTitleGrid td
{
    border-bottom:solid 1px whitesmoke;
    border-right: solid 1px whitesmoke;
}

.CodeTitleGrid a
{
    text-decoration: none;
    color: #003399;
}

.CodeTitleGrid a:hover
{
    text-decoration: underline;
}
/*---------------------------------------
 END Grid view
-----------------------------------------*/